/target
/python
/zip
/CSV
/TXT
*.egg-info
.gitignore
/st1
/st49
/.clinerules
/data
/conversion_errors
gemini.md
DeltaOps.md
OPTIMIZATION_PLAN.md
/wall_street_analysis
gemini.md
analysis_plan.md
/eda_queries
