[Unit]
Description=Daily aer_parser data download and Delta table load
After=network.target

[Service]
Type=simple
User=sidefxs
WorkingDirectory=/home/sidefxs/repos/aer_parser
ExecStart=run_daily_aer_parser.sh
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Restart=on-failure

[Install]
WantedBy=multi-user.target
